<app-navbar></app-navbar>
<div class="container">
    <div class="row title">
        <h1 class="display-1">Analyses</h1>
    </div>
    <div class="row title">
      <h5 class="display-5">{{projectname}}</h5>
  </div>
    <div class="row projects justify-content-end">
        <div class="col-1 ">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">+ Add</button>
        </div>
        
    </div>
    <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add new analysis</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-floating mb-3">
                  <input type="text" id="floatingName" class="form-control" [(ngModel)]="newname">
                  <label for="floatingName">Name</label>

              </div>
              
              
              
          
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onAdd()">Save</button>
          </div>
      </div>
      </div>
  </div>

    <div class="row mt-3">
      <ul class="list-group ">
        <div class="alert alert-warning" role="alert" [style.visibility]="notFoundError ? 'visible' : 'hidden'">
            Oups! Il parait que vous n'avez pas encore créer d'analyses
        </div>
          
            <app-analysis *ngFor="let analysis of A" [analysis]="analysis" [data]="projectdata"></app-analysis>
          
        </ul>
    </div>
</div>